body{
    background-color: white;
}

.form{
    margin-top: 7rem;
    display: flex;
    justify-content: space-evenly;
    height: 5rem;
    border-bottom: solid;
    
}

.btn{
    background: yellow;
    height: 3rem; 
    border: solid;
    border-radius: 10px;
    color: red;
}